<app-heading [transparent]="false" activeLink="cv"></app-heading>

<div class="text">
  <h3>Familie</h3>
  <ul>
    <li>
      Familienstand: seit 1958 verheiratet mit Dr. Roswitha Hotz, geb.
      Trommsdorff
    </li>
    <li>
      Kinder: Margarete, Ilse, Ingrid, Anna und Erika Enkel: Anna-Lilia, Janik,
      Philip, Aljoscha, Antonia, Ronja, Carlotta, Kai, Mia, Till, Philippa
    </li>
    <li>
      Schüler: Anzahl der betreuten Dissertationen 40. Von diesen Doktoranden
      sind mehr als ein Drittel inzwischen Professoren in Mathematik oder
      Informatik, zwei davon in den USA.
    </li>
  </ul>

  <h3>Tätigkeiten in wissenschaftlichen Gesellschaften</h3>

  <ul>
    <li>
      Mitglied des Fachausschusses für Informationsverarbeitung der GAMM
      (1966-67)
    </li>
    <li>Wahl in den wissenschaftlichen Beirat der GAMM (1968)</li>
    <li>
      Wahl zum Gründungsvorsitzenden der Gesellschaft für Informatik (GI)
      (1969), Mitglied des Präsidiums der GI bis 1975
    </li>
    <li>
      Vorsitzender des Fachausschusses für theoretische Informatik (1969-74)
    </li>
    <li>Vorsitzender des GI-Beirates der Universitätsprofessoren seit 1996</li>
  </ul>

  <h3>Tätigkeit in Ausschüssen und als Gutachter</h3>
  <ul>
    <li>
      Mitglied des Fachausschusses für die erste Diplomprüfungsordnung
      Informatik der KMK und WRK
    </li>
    <li>
      Deutsches Mitglied in Techn. Comm. for Education der IFIP (2 Jahre)
    </li>
    <li>
      DFG-Gutachter über zwei Wahlperioden
    </li>
    <li>
      Gutachter für SFB 49 in München über 12 Jahre
    </li>
    <li>
      Gutachter für SFB "Künstliche Intelligenz"
    </li>
    <li>
      Gutachter für SFB "Multiprozessor- und Netzwerkkonfiguration"
    </li>
    <li>
      Gutachter des "Lab. Informatique et Programmation" des CRNS (1981-87)
    </li>
    <li>
      Mitglied des Beirates des "G.W. Leibniz Research Center" der Hebräischen
      Universität Jerusalem und Mitglied des Beirates des Ollendorf Research
      Center in Haifa
    </li>
    <li>
      Mitglied des Wissenschaftsrates (1987-89)
    </li>
    <li>
      Dekan der Technischen Fakultät (1992-94)
    </li>
  </ul>

  <h3>Übersichts- oder Hauptvorträge auf großen Tagungen</h3>
  <ul>
    <li>
      Switching Theory and Space Technologie in Paolo Alto (1962)
    </li>
    <li>
      GAMM-Tagung in Prag (1966)
    </li>
    <li>
      DMV-Tagung in Bochum (1972)
    </li>
    <li>
      Jahrestagung der Mathematischen Gesellschaft der DDR in Karl-Marx-Stadt
      (1976) (MGDDR)
    </li>
    <li>
      FCT-Tagung in Posen (1977)
    </li>
    <li>
      Theoretische Informatik in Karlsruhe
    </li>
    <li>
      MFCT-Tagung in Prag (1984)
    </li>
    <li>
      MGDDR'86 in Rostock
    </li>
    <li>
      MFCT'86 in Pressburg (Bratislave)
    </li>
  </ul>

  <h3>Längere Aufenthalte im Ausland (zwei Monate)</h3>
  <ul>
    <li>
      Randse Africanse Universität in Johannesburg (1972)
    </li>
    <li>
      Universität Paris VI (1982)
    </li>
    <li>
      Berkeley, California (1983)
    </li>
  </ul>

  <h3>Größere Forschungsprojekte (Etat ab 250 000 DM/Jahr)</h3>
  <ul>
    <li>
      SFB 100 - Projekt E "COMSKEE" (1973-85) <br />
      Entwicklung eines Systems zur Unterstützung von Programmieraufgaben im
      linguistischen Bereich. Hierzu gehören auch theoretische Untersuchungen,
      die die Verwandschaft von formalen Sprachen angehen. Die Entwicklung des
      Systems COMSKEE machte ein intensives Studium der einschlägigen
      linguistischen Datenverarbeitungsprobleme notwendig. Das System wurde
      mehrfach überarbeitet und weiterentwickelt. Zu unserer Überraschung konnte
      es auch erfolgreich im nicht universitären Bereich eingesetzt werden.
      Anwender sind dort die Saarbrücker Zeitung und Behörden der EWG in
      Luxemburg. COMSKEE besitzt voll dynamische Datentypen, die es auch
      gestatten, große Datenbanken auf Hintergrundspeichern einzurichten und zu
      verwalten. Dies geschieht in sehr effizienter und speicherplatzsparender
      Weise. Die Integration solcher Möglichkeiten in eine höhere
      Programmiersprache scheint bis 1985 einmalig gewesen zu sein.
    </li>
    <li>
      SFB 124 - Teilprojekt B1 - "VLSI-Entwurfsmethoden und Parallelität" <br />
      In diesem Projekt wird ein System zum Entwurf von hochintegrierten
      Elektronischen Bausteinen entwickelt. CADIC soll automatisch aus einer
      funktionalen topologischen Spezifikation des Chips dessen Layout erzeugen.
      (Laufzeit seit 1983).
    </li>
    <li>
      TESUS: Entwicklung von prüffreundlichen Schaltkreisen Unterstützt durch
      das BMFT, Nixdorf und SIEMENS (Laufzeit 3 Jahre).
    </li>
  </ul>

  <h3>Herausgebertätigkeit</h3>

  <ul>
    <li>
      Informatikreihe bei Teubner<br />
      Wiley-Teubner, Series Computer Science
    </li>
  </ul>
</div>
