<app-heading [transparent]="false" activeLink="home"></app-heading>

<br /><br /><br />

<div class="text">
  <div>
    <p>
      Günter Hotz (born 16 November 1931) is a German pioneer of computer
      science. His work includes formal languages, digital circuits and
      computational complexity theory. In 1987, he received the Gottfried
      Wilhelm Leibniz Prize of the Deutsche Forschungsgemeinschaft, which is the
      highest honour awarded in German research. In 1999 he was awarded the
      Konrad Zuse Medal of the Gesellschaft für Informatik. Günter Hotz received
      his PhD in 1958 at Göttingen. His advisor was Kurt Reidemeister.
    </p>
  </div>
</div>

<br />
<br />
<br />

<div class="images">
  <img src="/assets/images/IMG_1515.jpeg" alt="" />
  <img src="/assets/images/IMG_1524.jpeg" alt="" />
  <img src="/assets/images/P1000109.jpeg" alt="" />
  <img src="/assets/images/P1000044.jpeg" alt="" />
  <img src="/assets/images/IMG_6757.jpeg" alt="" />
  <img src="/assets/images/papaTafel.jpeg" alt="" />
  <img src="/assets/images/93_papa.jpeg" />
  <img src="/assets/images/IMG_9481.jpeg" alt="" />
  <img src="/assets/images/papa2019.jpeg" alt="" />
</div>

<div class="text center">
  <div class="links">
    <h3>Additional Links</h3>
    <ul>
      <li>
        <a
          href="https://www.adwmainz.de/mitglieder/profil/prof-dr-rer-nat-dr-hc-mult-guenter-hotz.html"
          target="_blank"
          >Akademie der Wissenschaften und der Literatur Mainz - Mitglieder
        </a>
      </li>
      <li>
        <a href="http://www-hotz.cs.uni-sb.de/home/hotz/"
          >Saarland University</a
        >
      </li>
      <li><a href="">Wikipedia</a></li>
    </ul>
  </div>
</div>
