.text {
  font-size: 1.2rem;
}

.images {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  height: 132px;
  width: auto;
  padding-bottom: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 960px) {
  .heading h1 {
    font-size: 4rem;
    text-align: center;
  }
  .heading {
    height: 100px;
  }
  .text {
    padding: 1rem;
  }
}

.links {
  padding-top: 16px;
}

.links ul {
  list-style-type: none;
}

.center {
  text-align: center;
}
