/* .authors { */
/* } */

:host {
  font-size: 1rem;
}

.title {
  font-weight: 600;
}

.editors {
  opacity: 0.7;
}

pre {
  word-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
}

.links a::before {
  content: "[";
  /* padding-top: 0.5rem; */
}
.links a::after {
  content: "]";
}

.pages::before {
  content: "\00a0";
}
