<dt class="hidden">
  article<a name="{{ entry.EntryKey }}">({{ entry.EntryKey }})</a>
</dt>
<dd>
  <span class="authors" *ngIf="entry.Fields.Author"> {{ authors }}. </span>
</dd>
<dd class="title">
  <i>{{ entry.Fields.Title }}.</i>
</dd>
<dd>
  <ng-container *ngIf="entry.EntryType === 'mastersthesis'">
    <span>Master's Thesis, </span>
    <span>{{ entry.Fields.School || entry.Fields.Institution }},</span>
  </ng-container>

  <ng-container *ngIf="entry.EntryType === 'article'">
    <span class="journal">{{ entry.Fields.Journal }}</span>
    <span class="volume" *ngIf="entry.Fields.Volume"
      >&nbsp;{{ entry.Fields.Volume }}</span
    >
    <span class="number" *ngIf="entry.Fields.Number"
      >({{ entry.Fields.Number }})</span
    >
    <span
      *ngIf="entry.Fields.Journal || entry.Fields.Volume || entry.Fields.Number"
      >,</span
    >
    <span class="pages" *ngIf="entry.Fields.Pages"
      >{{ entry.Fields.Pages | sanitizePages }},
    </span>
  </ng-container>

  <ng-container *ngIf="entry.EntryType === 'techreport'">
    <span>Technical Report&nbsp;</span>
    <span>{{ entry.Fields.Institution }},</span>
  </ng-container>

  <ng-container
    *ngIf="
      entry.EntryType === 'inproceedings' || entry.EntryType === 'incollection'
    "
  >
    <span>In </span>
    <span class="editors" *ngIf="entry.Fields.Editor">
      {{ editors }}.&nbsp;
    </span>
    <span>{{ entry.Fields.Booktitle }}.<br /></span>
    <span *ngIf="entry.Fields.Series">{{ entry.Fields.Series }}.&nbsp;</span>
    <span>{{ entry.Fields.Volume }}</span>
    <span *ngIf="entry.Fields.Number">({{ entry.Fields.Number }})</span>
    <span *ngIf="entry.Fields.Volume || entry.Fields.Number">,&nbsp;</span>
    <span *ngIf="entry.Fields.Pages"
      >{{ entry.Fields.Pages | sanitizePages
      }}<span *ngIf="entry.Fields.Publisher">,&nbsp;</span>
    </span>
    <span *ngIf="entry.Fields.Publisher">{{ entry.Fields.Publisher }}</span>
    <span>.</span>
  </ng-container>

  <ng-container
    *ngIf="entry.EntryType === 'book' || entry.EntryType === 'proceedings'"
  >
    <span class="editors" *ngIf="entry.Fields.Editor">
      Eds. <b> {{ editors }}.&nbsp; </b>
    </span>
    <span *ngIf="entry.Fields.Booktitle">
      {{ entry.Fields.Booktitle }}.<br />
    </span>
    <span *ngIf="entry.Fields.Series">{{ entry.Fields.Series }}.&nbsp;</span>
    <span>{{ entry.Fields.Volume }}</span>
    <span *ngIf="entry.Fields.Number">({{ entry.Fields.Number }})</span>
    <span *ngIf="entry.Fields.Series || entry.Fields.Number">,</span>
    <span class="pages" *ngIf="entry.Fields.Pages">{{
      entry.Fields.Pages | sanitizePages
    }}</span>
    <span *ngIf="entry.Fields.Publisher">, {{ entry.Fields.Publisher }}</span>
    <span>.</span>
  </ng-container>

  <ng-container *ngIf="entry.EntryType === 'misc'">
    <span>{{ entry.Fields.Howpublished }}</span>
  </ng-container>

  <span> {{ entry.Fields.Year }}. </span>
</dd>

<dd class="links">
  <p>
    <ng-container *ngIf="entry.Fields.Abstract">
      <a (click)="toggleAbstract()">abstract</a>
    </ng-container>
    <ng-container *ngIf="entry.Fields.Pdf">
      <a [href]="pdfLink" target="_blank">pdf</a>
    </ng-container>
    <a (click)="toggleBibtex()">BibTeX</a>
  </p>
</dd>

<dd>
  <br />
  <p class="abstract" [style.display]="abstractOpen ? 'block' : 'none'">
    {{ entry.Fields.Abstract }}
  </p>
</dd>

<pre class="bibtex" [style.display]="bibtexOpen ? 'block' : 'none'"
  >{{ bibtexText }}
</pre>

<br />
